* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    height: 70px;
    background-color: #add8e6;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header h1 {
    color: #f19cbb;
    line-height: 70px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #626f78;
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
}

nav ul li a:hover {
    background-color: beige;
    
}

.content {
    padding-top: 20px; /* Space for fixed header */
}

.content section {
    min-height: 100vh;
    background-color: beige;
    margin: 20px 0;
    padding: 70px 20px; /* Added side padding */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#About ol {
    margin-top: 10px; /* Space between paragraph and list */
    padding-left: 20px; /* Adds space before list numbers */
    text-align: left; /* Aligns list items to the left */
}
#About li {
    margin-bottom: 5px; /* Adds space between list items */
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: to style the image */
}
#Schedule article {
    text-align: center;
    padding: 20px;
    background-color: #fff5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; }

footer {
    background-color:#add8e6; 
    color:darkslategrey; 
    padding: 10px; 
    text-align: center; 
    margin-top: 20px;
    }
